<h1> You Purchase and Grand Total </h1>

<%=  "#{current_order.order_items.size} item with a value of Nu. #{current_order.subtotal}" %>
<br>
<%=  "Delivery Charge Nu. #{current_order.delivery_charge}" %>
<br>
<%=  "Grand Total Nu. #{current_order.grand_total}" %>

